<div class="flex gap-2  w-max mx-auto items-center">
    <p>Developed by <a href="https://github.com/Tribhuwan-Joshi" target="_blank">Tjsm</a></p>
    <p>&copy; 
    <script>document.write(new Date().getFullYear())</script></p>
</div>