<div class="flex justify-around md:justify-evenly items-center p-2">
  <div class="flex items-center gap-2">
    <img src="/images/icon.png" class="w-12" alt="icon" />
    <h1 class="text-xl font-semibold"><a class="text-inherit" href="/catalog/">Club House</a></h1>
  </div>

  <% if (locals.user) { %>
  <h1><a href="/<%= user.url %>/create">Create Post</a></h1>
  <% } %>
  <ul class="flex w-40 md:w-52 justify-between">
    <li><a href="/catalog/">Home</a></li>
    <% if (!locals.user) { %>
    <li><a href="/user/login">Login</a></li>
    <li><a href="/user/signup">Signup</a></li>
    <%}else {%>
    <li><a href="/user/<%=user.id%>"><%=user.username%></a></li>
    <li><a href="/user/logout">Logout</a></li>
    <% } %>
  </ul>
</div>