extends layout
block content
	div(class="m-10")
		h1(class="text-2xl") Club House
		p Interact with club members and keep your secrets.
		p You can create new post by signing up 
		p To get access to club member profile you have to become a member by using club code (thats a secret !)
	div(class="posts w-[90%] bg-yellow-100 min-w-[300px]  justify-center mx-auto p-4 gap-4 grid grid-cols-[repeat(auto-fit,minmax(100px,400px))]")
		div(class="border p-2 border-black")
			h1(class="title text-center font-semibold text-lg") LOL Title
			div(class="info flex justify-between mb-2")
				p(class="italic underline") Anonymous 
				p(class="underline") 12/2/22 3:45am
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quia ratione nihil quasi cupiditate assumenda animi perferendis quos cumque autem a, amet nesciunt facilis exercitationem optio debitis velit vitae iusto.
		div(class="border p-2 border-black")
			h1(class="title text-center font-semibold text-lg") LOL Title
			div(class="info flex justify-between mb-2")
				p(class="italic underline") Anonymous 
				p(class="underline") 12/2/22 3:45am
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quia ratione nihil quasi cupiditate assumenda animi perferendis quos cumque autem a, amet nesciunt facilis exercitationem optio debitis velit vitae iusto.
		div(class="border p-2 border-black")
			h1(class="title text-center font-semibold text-lg") LOL Title
			div(class="info flex justify-between mb-2")
				p(class="italic underline") Anonymous 
				p(class="underline") 12/2/22 3:45am
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quia ratione nihil quasi cupiditate assumenda animi perferendis quos cumque autem a, amet nesciunt facilis exercitationem optio debitis velit vitae iusto.
		div(class="border p-2 border-black")
			h1(class="title text-center font-semibold text-lg") LOL Title
			div(class="info flex justify-between mb-2")
				p(class="italic underline") Anonymous 
				p(class="underline") 12/2/22 3:45am
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quia ratione nihil quasi cupiditate assumenda animi perferendis quos cumque autem a, amet nesciunt facilis exercitationem optio debitis velit vitae iusto.
		div(class="border p-2 border-black")
			h1(class="title text-center font-semibold text-lg") LOL Title
			div(class="info flex justify-between mb-2")
				p(class="italic underline") Anonymous 
				p(class="underline") 12/2/22 3:45am
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quia ratione nihil quasi cupiditate assumenda animi perferendis quos cumque autem a, amet nesciunt facilis exercitationem optio debitis velit vitae iusto.
		div(class="border p-2 border-black")
			h1(class="title text-center font-semibold text-lg") LOL Title
			div(class="info flex justify-between mb-2")
				p(class="italic underline") Anonymous 
				p(class="underline") 12/2/22 3:45am
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quia ratione nihil quasi cupiditate assumenda animi perferendis quos cumque autem a, amet nesciunt facilis exercitationem optio debitis velit vitae iusto.
		div(class="border p-2 border-black")
			h1(class="title text-center font-semibold text-lg") LOL Title
			div(class="info flex justify-between mb-2")
				p(class="italic underline") Anonymous 
				p(class="underline") 12/2/22 3:45am
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quia ratione nihil quasi cupiditate assumenda animi perferendis quos cumque autem a, amet nesciunt facilis exercitationem optio debitis velit vitae iusto.
		div(class="border p-2 border-black")
			h1(class="title text-center font-semibold text-lg") LOL Title
			div(class="info flex justify-between mb-2")
				p(class="italic underline") Anonymous 
				p(class="underline") 12/2/22 3:45am
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quia ratione nihil quasi cupiditate assumenda animi perferendis quos cumque autem a, amet nesciunt facilis exercitationem optio debitis velit vitae iusto.
		