doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="description" content="Join private club and chit chat")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="icon" href="/images/icon.png")
  body
    block header 
        header(class="flex bg-yellow-100 justify-around md:justify-evenly items-center p-2")
            div(class="flex items-center gap-2")
                img(src="/images/icon.png" class="w-10 hidden sm:block nd:w-12" alt="icon")
                h1(class="text-xl lg:text-2xl font-semibold")
                    a(class="text-inherit" href="/catalog") Club House 
                    
            if user 
                h1(class="text-lg") 
                    a(href="/catalog/post/create") Create Post
            ul(class="flex lg:text-lg w-max items-center md:w-max gap-4")
                li
                    a(href="/catalog" class="hidden md:block") Home 
                if !user
                    li 
                        a(href="/login") Login
                    li 
                        a(href="/signup") Signup  
                else
                    if !user.isMember
                        li  
                            a(href="/"+user._id+"/membership") Membership 
                    li(class="hidden md:block underline") 
                        a(href="/users/"+user._id) #{user.username}  
                    form(action="/logout" method="POST")
                        button(class="p-1 px-2 text-lg") Logout 
    block content
    block footer 
        footer(class="flex gap-2 w-max my-10 mx-auto items-center")
            p Developed by 
                a(href="https://github.com/Tribhuwan-Joshi" target="_blank") Tjsm 
                p &copy;
                    span= new Date().getFullYear()
