<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/images/icon.png">
</head>

<body>
  <%- include('header.ejs') %>
  <form class="mx-auto bg-gray-200 w-max p-4 grid grid-cols-[1fr,2fr] gap-6 my-10" action="" method="post">
    <p>Enter club code become memeber and view profile of users</p>
    <label for="code">Club Code </label>
    <input required class="px-1 font-mono border border-black" type="text" name="code" id="code" placeholder="Club Code">

    <label for="password">Password</label>
    <input required class="px-1 font-mono border border-black" type="password" name="password" id="password" />
    <label for="confirm">Confirm Password</label>
    <input required class="px-1 font-mono border border-black" type="password" name="confirm" id="confirm" />

    <% if(typeof errors !== 'undefined'){%>
    <ul class="col-span-2 list-disc inline-block justify-self-center">

      <%errors.forEach((err)=>{ %>
      <li class="text-red-500 text-sm"><%=err.msg%> </li>
      <%});%>

    </ul>
    <%}%>

      <input class="p-1 col-span-2 justify-self-center hover:cursor-pointer px-2 hover:scale-105 bg-yellow-50 border border-black" type="submit" value="Signup" />
  </form>
  <%- include('footer');%>

</body>

</html>