extends layout
block content 
    div(class="w-[60%] min-w-[400px] mx-auto p-4 my-8  bg-gray-50")
        h1(class="text-2xl text-center font-semibold")=post.title
        
        div(class="info gap-2 flex justify-between my-2")
            if user && user.isMember
                p(class="italic underline")
                    a(href="/users/"+post.user._id)=post.user.username
            else 
                p(class="italic underline") Anonymous

            if user &&  user.isMember
                p(class="underline")=post.postDate
        p=post.story
        if user && user.isAdmin
            form(action="/catalog/post/"+post._id+"/delete" class="flex justify-end mt-6" method="POST")
                button(class="bg-red-500 text-white rounded-sm p-1 text-sm ml-auto hover:bg-red-600") Delete Post