<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/icon.png">
</head>
<body>
    <form>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <input type="submit" class="hover:cursor-pointer" value="submit">
    </form>
</body>
</html>