extends layout
block content 
    div(class="w-[80%] mx-auto")
        div(class="mt-10 mx-auto") 
            h1(class="text-xl underline font-bold mb-4 tracking-wider text-center") User Details 
            div(class="space-y-2 mb-6 text-center")
                p Name: Tjsm 
                p Joined at: 12 Dec 2020
                p Number of posts : 40
            // Get all post sort by date
            hr
            div(class="mt-6 allposts text-center underline text-lg mb-4") All posts by Tjsm
            ul(class="text-center space-y-2")
                li
                    a(href="/catalog/post/id") How to deal with deez nuts 
                li
                    a(href="/catalog/post/id") How to deal with deez nuts
                li
                    a(href="/catalog/post/id") How to deal with deez nuts
                li
                    a(href="/catalog/post/id") How to deal with deez nuts
                li
                    a(href="/catalog/post/id") How to deal with deez nuts
                li
                    a(href="/catalog/post/id") How to deal with deez nuts
                li
                    a(href="/catalog/post/id") How to deal with deez nuts
            